:root {
  /* color */
  --color-background: #BAB7A6;
  --color-beige: beige;
  --color-blue: skyblue;
  --color-pink: pink;
  --color-yellow: #FFFD6F;
  --color-brown: #4A483A;
  --menuicon-size: 15px;
  --icon-size: 30px;
  --blank-space: 5px;
}

/* elements */
html {
  background-color: var(--color-background);
}

/* class */
.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  align-items: center;
}
.items {
  /* display: flex; */
  width: 60%;
  height: 60%;
  list-style: none;
}
.item {
  display: flex;
  border: none;
  border-radius: 10px;
  padding:10px;
  color: var(--color-brown);
  background-color: var(--color-beige);
  text-align: center;
  align-items: center;
  }
.menuicon {
  width: var(--menuicon-size);
  height: var(--menuicon-size);
}
.icon {
  padding-left: var(--blank-space);
  width: var(--icon-size);
  height: var(--icon-size);
}
.mainmenu{
  display:block;
  text-align: center;
}
.hidden{
  display:none;
}

/* id */
#hello{
  display: block;
  text-align: center;
}
#mainicon{
  height:200px;
  width: 240px;
}
#blue{
  background-color: var(--color-blue);
}
#yellow{
  background-color: var(--color-yellow);
}
#pink{
  background-color: var(--color-pink);
}